
.about[data-v-5932bdb6] {
  color: var(--white);
  min-height: 90vh;
  padding: 2rem;
  text-transform: capitalize;
  display: block;
  margin: auto;
}
.about h1[data-v-5932bdb6] {
  text-align: center;
  margin-bottom: 1rem;
}
.about a[data-v-5932bdb6] {
  color: var(--blue);
}
@media (min-width: 1024px) {
.about[data-v-5932bdb6] {
    padding: 5rem
}
}

