
.container[data-v-f2d6b75c] {
  display: block;
  margin: 2rem auto;
}
.results-text[data-v-f2d6b75c] {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5em;
}
.results-text span[data-v-f2d6b75c] {
  text-transform: none;
  color: var(--orange);
  font-weight: 700
}


main[data-v-55883d7c] {
  min-height: 90vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}

